* {
  margin: 0;
}

html, body {
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Roboto, Arial, sans-serif;
  font-size: 62.5%;
  color: white;
  background: linear-gradient(to bottom, #020111 10%, #3a3a52 100%);
}

body {
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 3em;
  font-size: 1.8rem;
}

h1, h2, h3 {
  margin-top: 2.5em;
  margin-bottom: 2em;
  font-weight: normal;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

a {
  color: white;
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -7rem;
  position: relative;
}

footer, .push {
  height: 7rem;
}

footer .footer-contents {
  padding: 0 5rem;
  position: relative;
}

.page-content {
  padding: 1rem 5rem;
}

.page-content p {
  margin-bottom: 1rem;
}


.path {
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
}

.spacious{
	width: 65vw;
	margin-left: auto;
	margin-right: auto;
}



@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@media (min-height: 500px) and (min-width: 700px) {
  .message {
    padding: 0;
    width: 50%;
    left: calc(50vw - 5rem);
    top: calc(15vh - 5rem);
  }

  .message .text {
    padding-right: 0rem;
  }

  .graphics {
    display: block;
    margin-bottom: 6rem;
  }

  .page-content {
    padding: 3rem 5rem;
  }
}

@media (min-height: 500px) and (min-width: 1240px) {
  .message {
    left: calc(50vw - 10rem);
    top: calc(25vh - 5rem);
  }

  h1 {
    font-size: 5rem;
  }

}

@media (min-aspect-ratio: 11/5)  {
  .graphics {
    display: none;
  }
}
