* {
  margin: 0;
}

html, body {
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 62.5%;
  color: white;
  background: tan;
  background-image: url(fabric_1.png);
  background-repeat: repeat;
}

body {
  font-size: 1.8rem;
}

.pad-top-h {
	padding-top: 40px !important;
}

.pad-bot-f {
	padding-bottom: 95px !important;
}

#h{
	position: fixed;
	top: 0;
	height: auto;
	z-index: 3;
	left: 0;
	right: 0;
	background: linear-gradient(1deg, #2f4f4f 50%, #92b3ac 200%);
}

.container {
	margin-left: 5rem;
	margin-right: 2rem;
}
#f{
	position: fixed;
	bottom: 0;
	z-index: 2;
	left: 0;
	right: 0;
	background: linear-gradient(1deg, #2f4f4f 50%, #92b3ac 200%);
	min-height: 3rem;
}

.f-contents {
	font-size: 1.3rem;
	padding: 1rem;
}
#c {
	padding-top: 4rem;
	color: black;
}

.center{
	position: relative;
	z-index: 1;
	margin-left: 5rem;
	margin-right: 5rem;
}

.section1 {
	float: left;
	width: 500px;
}

.section2 {
	float: left;
	width:400px;	
}
.section3{
	
}

.section4 {
	
}

[class*="section"] {
	min-height: 1px;
}

.row:before, .row:after{
	display: table;
	content: "";
}

.row:after {
	clear:both;
}

.pull-right {
	float: right;
}

.home-name {
	float: left;
	margin-top: 7px;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

a {
  color: white;
  text-decoration: none;
}


.h .pull-right {
	float: right;
	margin-right: 0;
}

.website-nav {
  position: relative;
  padding: 0.5rem;
}

.website-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.website-nav ul li {
  float: left;
  padding: 0.5rem 2rem 0.5rem 0;
  line-height: 21px;
}

.website-nav ul li a {
  color: white;
  text-decoration: none;
}

.home-link {
  font-weight: bold;
}


.page-content {
  padding: 1rem 5rem;
}

.page-content p {
  margin-bottom: 1rem;
}


@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
