* {
  margin: 0;
}

html, body {
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
  font-family: "Trajan Pro 3", Times, serif;
  font-size: 62.5%;
  color: white;
  background: linear-gradient(to bottom, #200d37 10%, #93428e 100%);
}

body {
  font-size: 1.8rem;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

a {
  color: white;
  text-decoration: none;
}


.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -7rem;
  position: relative;
}

footer, .push {
  height: 7rem;
}

footer .footer-contents {
  padding: 1rem;
  position: fixed;
  bottom: 0;
}

.website-nav {
  position: relative;
  padding: 5rem;
}

.website-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

.website-nav ul li {
  float: left;
  padding: 0.5rem 2rem 0.5rem 0;
  line-height: 21px;
}

.website-nav ul li a {
  color: white;
  text-decoration: none;
}

.home-link {
  font-weight: bold;
}

.message {
  position: relative;
  padding: 0 5rem;
  margin-bottom: 3rem;
  width: auto;
}

.message .twitter-link {
  float: left;
  margin-right: 20px;
}

.message .twitter-link img {
  width: 40px;
  height: 40px;
}

.message .text {
  float: left;
}


.message:after, .website-nav:after {
  content: " ";
  display: table;
  clear: both;
}

.graphics {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
}

.graphics .tower svg {
  width: calc(100vw);
  height: calc(90vh);
}

.graphics .cloud {
  top: 30rem;
  position: relative;
}

.page-content {
  padding: 1rem 5rem;
}

.page-content p {
  margin-bottom: 1rem;
}

.path {
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
}

.path1 {
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
}

.dandelion .path {
  animation: dash 20s linear forwards;
}

.dandelion2 .path {
	animation: dash 20s linear forwards;
	animation-delay: .7s;
}

.dandelion-stem .path {
	animation: dash 50s linear forwards;
	animation-delay: .7s;
}

.seeds .path1 {
	animation: dash 75s linear forwards 1;
	animation-delay: 1.5s;
}

.clouds .path {	
  animation: dash 20s cubic-bezier(0.72, 0.01, 0.59, 0.98) forwards; 
  animation-delay: 5s;
}

.seed-visible {
   animation: dash 75s linear forwards 1, move 10s ease !important;
}


@keyframes move {
  0% {
transform: translateX(0px);
  }
  25% {
   
  }

  100% {
transform: translateX(300px) translateY(-75px) rotate(-45deg);
  }
}


@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@media (min-height: 500px) and (min-width: 700px) {
  .message {
    padding: 0;
    width: 50%;
    left: calc(15vw - 10rem);
    top: calc(10vh - 15rem);
  }

  .message .text {
    padding-right: 0rem;
  }

  .graphics {
    display: block;
    margin-bottom: 1rem;
  }

  .message .twitter-link img {
    width: 70%;
    height: 70%;
  }

  .page-content {
    padding: 3rem 5rem;
  }
}

@media (min-height: 500px) and (min-width: 1240px) {
  .message {
    left: calc(15vw - 10rem);
    top: calc(10vh - 15rem);
  }

  h1 {
    font-size: 5rem;
  }

  .message .twitter-link img {
    width: 80%;
    height: 80%;
  }
}

@media (min-aspect-ratio: 11/5)  {
  .graphics {
    display: none;
  }
}